<%- include('../partials/header') %>

<h1 class="title-text">Message Board</h1>
<br>
<br>
<form action="/messages" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" aria-describedby="message" name="title" placeholder="Enter message...">
  </div>
  <button type="submit" class="btn btn-success">Create Post</button>
</form>
<br>
<% messages.forEach(message => { %>
  <div class="card">
    <div class="card-header">
            <!-- <form action="/messages/<%= message.id %>?_method=DELETE" method="POST">
        <button class="close" type="submit">X</button>
      </form> -->
      <%= message.postedBy %> <img id="avatarPhoto" width="30" src="<%= message.avatar ? message.avatar : 'https://i.imgur.com/DuUZpapt.jpg'  %>">
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= message.title %></h5>
      <h6><%= message.createdAt.toLocaleString()%></h6>
      <a href="/messages/<%= message._id %>" class="btn btn-success">See Post</a>
    </div>
  </div>
<% }) %>

<%- include('../partials/footer') %>