<%- include('../partials/header') %>

<h3><%= title %></h3>

<div class="card">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" id ="profileinfo-tab" data-toggle="tab" href="#profileinfo" role="tab">Profile Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="updateinfo-tab" data-toggle="tab" href="#updateinfo" role="tab">Update Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab">Following</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profileinfo" role="tabpanel" aria-labelledby="profileinfo-tab">
          <div class="card-body">
            <h5 class="card-title">Name: <%= user.name %></h5>
              <p class="card-text">Email: <%= user.email %></p>
              <p class="card-text">Bio: <%= user.bio %></p>
          </div>
        </div>
        <div class="tab-pane fade" id="updateinfo" role="tabpanel" aria-labelledby="updateinfo-tab">
          <div class="card-body">
            <form action="/users/profile?_method=PUT" method="POST">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="avatarUrl">Avatar Image URL:</label>
                  <input type="text" id="avatarUrl" class="form-control" name="avatar" value="<%= user.avatar %>">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label for="bio">Bio:</label>
                  <textarea rows="3" id="bio" class="form-control" name="bio"><%= user.bio %></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-warning">Update</button>
            </form>
          </div>
        </div>
          <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
            <div class="card-body">
              <% user.following.forEach(f => { %>
                <a href="/users/<%= f._id %>"><img width="30" id="avatarPhoto" src="<%= f.avatar ? f.avatar : 'https://i.imgur.com/DuUZpapt.jpg'  %>"><%= f.name %></a>
                <% }) %>
            </div>
          </div>
      </div>
  </div>
  <br>
  <h2>Recipes</h2>

  <% recipes.forEach(r => { %>
    <div class="card" style="width: 18rem;">
      <form action="/recipes/<%= r.id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
      <h5 class="card-title"><%= r.name %></h5>
      <a href="/users/<%= r.createdBy %>"></a>
        <a href="/recipes/<%= r._id %>" class="btn btn-primary">Details</a>
      </div>
    </div>
  <% }) %>



<%- include('../partials/footer') %>