<%- include('../partials/header') %>

<h1 class="title-text"><%= title %></h1>

<% recipes.forEach(recipe => { %>
    <div class="card" style="width: 18rem;">
      <img id="food" src="<%= recipe.imageUrl %>" class="card-img-top" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF6SSEbCOGYcAoSP_cU29mG8_oK5pSyM9e1w&usqp=CAU">
      <h5 class="card-title"><%= recipe.name %></h5>
      <p> Created By <a href="/users/<%= recipe.userId %>"><%= recipe.createdBy %></a></p>
        <a href="/recipes/<%= recipe._id %>" class="btn btn-success">Details</a>
      </div>
    </div>
  <% }) %>

<%- include('../partials/footer') %>