<%- include('../partials/header') %>

<h3><%= title %></h3>

<% recipes.forEach(recipe => { %>
    <div class="card" style="width: 18rem;">
      <div class="card-body"></div>
      <h5 class="card-title"><%= recipe.name %></h5>
      <p><%= recipe.createdBy %></p>
        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">Details</a>
      </div>
    </div>
  <% }) %>

<%- include('../partials/footer') %>