<%- include('../partials/header') %>

<h1 class="title-text"><%= title %></h1>

<% recipes.forEach(recipe => { %>
    <div class="card" style="width: 18rem;">
      <img src="<%= recipe.imageUrl %>" class="card-img-top" alt="...">
      <h5 class="card-title"><%= recipe.name %></h5>
      <p> Created By <a href="/users/<%= recipe.userId %>"><%= recipe.createdBy %></a></p>
        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">Details</a>
      </div>
    </div>
  <% }) %>

<%- include('../partials/footer') %>