<%- include('../partials/header') %>

<h1><%= title %></h1>

<form action="/recipes" method="POST">
    <div class="form-row">
      <div class="col-md-4">
        <h5>Name of Dish:</h5>
        <input type="text" id="name" class="form-control" name="name" placeholder="Dish name...">
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
          <h5>Description</h5>
          <textarea rows="3" id="description" class="form-control" name="description" placeholder="Describe the dish..."><%= recipes.desciption %></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <h5>Instructions</h5>
          <textarea rows="3" id="instructions" class="form-control" name="instructions" placeholder="How do you make it..."><%= recipes.instructions %></textarea>
        </div>
      </div> 
      <h5>Add Image</h5>
      <input type="text" id="imageUrl" class="form-control" name="imageUrl" value="<%= recipes.imageUrl %>">
    <button type="submit" class="btn btn-success">Submit</button>
  </form>



<%- include('../partials/footer') %>