<%- include('../partials/header') %>

<h1 class="title-text"><%= title %></h1>

<img class="food-image" src="<%= recipes.imageUrl %>">
<h3 class="title-text">Description</h3>
<div class="box">
    <p><%= recipes.description %></p>
</div>
<h3 class="title-text">Instructions</h3>
<div class="box">
    <p><%= recipes.instructions %></p>
</div>

<%- include('../partials/footer') %>